<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/android-chrome-512x512.png"
    />
    <!-- bulma css nav-bar css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="payment.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="payment.js" type="module" defer></script>
  </head>
  <body>
    <section class="order">
      <div class="containerstyle">
        <div class="cartHeader">
          <div class="order-title">ORDER LIST</div>
        </div>
        <div class="Info">
          <!-- 결제정보 -->
          <div class="cart-pay">
            <table class="book-Info">
              <thead>
                <tr>
                  <th id="color">제품</th>
                  <th id="color">제품 수량</th>
                  <th id="color">금액</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <!-- 여기 추가됨 -->
              </tbody>
            </table>
            <div class="pay-Info">
              <span>상품 총액</span>
              <span>배송비</span>
              <span>총 금액</span>
            </div>
          </div>
          <div class="border"></div>

          <div class="order-title">shipping</div>
          <div class="Info shipping">
            <!-- 배송지 정보 -->
            <div class="checkbox">
              <input type="checkbox" class="userInfo" />
              <span>사용자 정보 입력</span>
            </div>

            <div class="field">
              <label class="label">이름</label>
              <input
                class="input"
                id="userName"
                type="text"
                placeholder="받는 분 이름을 입력해 주세요."
                autocomplete="on"
              />
            </div>

            <div class="field">
              <label class="label">연락</label>
              <input
                class="input"
                id="phoneNumber"
                type="text"
                placeholder="- 없이 입력해 주세요."
                autocomplete="on"
              />
            </div>

            <div class="field">
              <label class="label"
                >주소
                <button class="button" id="searchAddressButton">
                  주소찾기
                </button></label
              >
              <div>
                <input
                  class="input"
                  id="address"
                  type="text"
                  placeholder="주소찾기를 클릭해 주세요"
                  autocomplete="on"
                />
                <input
                  class="input"
                  id="postalCode"
                  type="text"
                  placeholder="우편번호"
                  autocomplete="on"
                />
              </div>
              <input
                class="input"
                id="detailed-address"
                type="text"
                placeholder="상세주소"
                autocomplete="on"
              />
            </div>
            <div class="field">
              <label class="label" for="requestSelectBox">요청사항</label>
              <div class="select">
                <select id="requestSelectBox">
                  <option value="0">배송시 요청사항을 선택해 주세요.</option>
                  <option value="1" class="select-option">
                    직접 수령하겠습니다.
                  </option>
                  <option value="2" class="select-option">
                    배송 전 연락바랍니다.
                  </option>
                  <option value="3" class="select-option">
                    부재 시 경비실에 맡겨주세요.
                  </option>
                  <option value="4" class="select-option">
                    부재 시 문 앞에 놓아주세요.
                  </option>
                  <option value="5" class="select-option">
                    부재 시 택배함에 넣어주세요.
                  </option>
                  <option value="6" class="select-option">직접 입력</option>
                </select>
              </div>
            </div>

            <div class="field">
              <label class="label">주문메시지</label>
              <input
                class="input"
                id="orderMsg"
                type="text"
                placeholder=""
                autocomplete="on"
              />
            </div>
          </div>
          <button class="button" id="submitBtn">submitBtn</button>
        </div>
      </div>
    </section>
  </body>
</html>
