html, body {
  background-color: black;
  font-family: "Bebas Neue";
}
  
.navbar {
  background-color: black;
  border-bottom: 1px solid;
}
  
.navbar a {
  color: white;
}
  
.navbar a:hover {
  color: #db1f2b;
}

.register-user-form-container {
  width: 50%;
  margin: auto;
  padding: auto;
  width: 30rem;
  margin-top: 2em;
}

#registerUserForm {
  background-color: rgba(255, 255, 255, 0.131);
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  padding: 1em;
}

.register-user-form-box .title {
  text-align: center;
  color: #db1f2b;
}

.label {
  color: white;
}

.input {
  border: none;
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.147);
  color: white;
  vertical-align: middle;
}

.input::placeholder {
  color: white;
}

.register-user-form-box .button {
  background-color: #db1f2b;
  font-weight: bold;
}

.register-user-form-box .button:hover {
  background-color: #4a4a4a;
}

#searchAddressButton {
  background-color: #db1f2b;
  color: white;
}

#searchAddressButton:hover {
  background-color: #4a4a4a;
}

/* .register-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
} */
