html, body {
  background-color: black;
  font-family: "Bebas Neue";
}
    
.navbar {
  background-color: black;
  border-bottom: 1px solid;
}
    
.navbar a {
  color: white;
}
    
.navbar a:hover {
  color: #db1f2b;
}

.section {
  width: 40vw;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.131);
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
  padding: 2em;
  margin: auto;
  margin-top: 30vh;
}

.formBox {
  margin-top: 2vh;
}

.label {
  color: white;
}

.input {
  border: none;
  background-color: rgba(255, 255, 255, 0.147);
  color: white;
  margin-top: 1vh;
}

.input::placeholder {
  color: white;
}

#passwordCheckButton {
  background-color: #db1f2b;
  width: 100%;
  height: 4vh;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 6px;
  margin-top: 1vh;
}

#passwordCheckButton:hover {
  background-color: #4a4a4a;
}