<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>register-wireframe</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/android-chrome-512x512.png"
    />
    <!-- bulma css nav-bar css-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <script src="orderComplete.js" type="module" defer></script>
    <link rel="stylesheet" href="orderComplete.css" />
  </head>
  <body>
    <div class="bg">
      <section class="order">
        <div class="container containerstyle">
          <div class="logo">
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="header">
            <div class="order-title">thanks</div>
            <span>주문이 완료되었습니다.</span>
            <a href="/" class="button is-medium is-fullwidth" id="homeBtn">
              쇼핑계속하기
            </a>
            <a href="/orders" class="button is-medium is-fullwidth" id="">
              주문내역확인하기
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
