<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Texter</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/android-chrome-512x512.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 커스텀 css, js -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
  </head>
  <body>
    <section class="cartpage">
      <div class="container cartcontainer">
        <div class="cart-title">CART</div>
        <div class="cart-Info">
          <!-- 장바구니 삭제 기능 버튼" -->
          <div class="cart-header">
            <input class="checkAllBtn" type="checkbox" checked />
            <a class="button">선택삭제</a>
            <a class="button right">장바구니 비우기</a>
          </div>
          <div class="cart-lists">
            <!-- 아이템이 들어가는 부분 -->
          </div>

          <!-- 장바구니 주문 정보 -->
          <div class="cartPay">
            <div class="summary">
              <div class="orderInfo">
                <!-- 결제정보가 들어가는 곳 -->
              </div>
            </div>
          </div>
          <div class="order">
            <button class="button right is-rounded" id="submitBtn">
              구매하기
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
